<div class="container">
    <div class="row">
        <button (click)="closeForm()" class="closeBTN">X</button>
    </div>
    <div class="form">
        <form [formGroup]="editForm" (submit)="onSubmitEditForm()">
            <div class="row">
                <div class="form-group">
                    <label class="form-label" for="name">Name</label>
                    <input class="form-input" type="text" formControlName="name" id="name" autocomplete="off">
                </div>
                <div class="form-group">
                    <label class="form-label" for="cost">Cost</label>
                    <input class="form-input" type="number" formControlName="cost" id="cost">
                </div>
            </div>
            <div class="row">
                <div class="form-group" *ngIf="!editType">
                    <label class="form-label" for="triggerType">Trigger Type</label>
                    <select class="form-select" formControlName="type" id="type">
                        <option *ngFor="let triggerType of types" [value]="triggerType.id"
                            [disabled]="triggerType.disabled">{{triggerType.value}}</option>
                    </select>
                </div>
                <div class="form-group" *ngIf="!editType">
                    <label class="form-label" for="file">File</label>
                    <select class="form-select" id="file" formControlName="file">
                        <option *ngFor="let file of files, index as i, first as isFirst" [value]="file.name"
                            [selected]="isFirst">{{file.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="form-label" for="cooldown">Cooldown</label>
                    <input class="form-input" type="number" formControlName="cooldown" id="cooldown" min="1"
                        max="99999">
                </div>
                <div class="form-group">
                    <label for="volume">Volume</label>
                    <div class="volumen-group">
                        <input class="form-input form-input-range" class="form-input" type="range" name="volume"
                            id="volume" formControlName="volume" step="1" min="1" max="100" list="volume-markers">
                        <span>
                            {{editForm.get('volume')?.value}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="premium && !this.editType">
                <div class="form-group flex">
                    <label class="form-label" for="priceIncrease">Price Increase</label>
                    <input type="checkbox" id="priceIncrease" formControlName="priceIncrease">
                </div>
            </div>
            <div class="row" *ngIf="priceIncrease?.value">
                <div class="form-group">
                    <label class="form-label" for="priceIncreaseAmount">Price Increase Amount</label>
                    <input type="number" class="form-input" formControlName="priceIncreaseAmount"
                        [classList]="priceIncrease?.valid ? 'valid' : 'invalid'">
                </div>
                <div class="form-group">
                    <label class="form-label" for="returnToOriginalCost">Return To Original Cost</label>
                    <div class="input-group">
                        <input type="checkbox" id="returnToOriginalCost" name="returnToOriginalCost"
                            formControlName="returnToOriginalCost" class="form-checkbox">
                        <p class="text-info">Reward cost will return to Original at the end of Stream</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <input type="submit" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
<datalist id="volume-markers">
    <option value="0">
    <option value="25">
    <option value="50">
    <option value="75">
    <option value="100">
</datalist>