<button class="btn" [disabled]="disbaleCreate" (click)="showFormBtn()">Create VIP Reward</button>

<div class="rewards-container">
    <div class="rewards">
        <div class="reward" *ngFor="let reward of vipRewards">
            <div class="header">
                <h3>{{ reward.title }}</h3>
            </div>
            <div class="body">
                <p>{{reward.cost}}</p>
                <input type="checkbox" [checked]="reward.rewardIsEnabled" (input)="toggleEnable()">
            </div>
            <div class="footer">
                <button class="btn btn-primary" (click)="editReward(reward)" disabled>Edit</button>
                <button class="btn btn-danger" (click)="deleteReward(reward)">Delete</button>
            </div>
        </div>
    </div>
</div>

@if (showForm) {
    <div class="form-container">
        <div class="row">
            <button class="btn-exit" (click)="closeForm()">x</button>
        </div>
        <h3 class="h1">Create VIP Reward</h3>
        <form [formGroup]="vipForm">
            <section class="normal">
                <div class="form-row">
                    <mat-form-field hintLabel="It has to start with VIP">
                        <mat-label>Enter Reward Name</mat-label>
                        <input type="text" #name matInput formControlName="name">
                        <mat-hint align="end">{{name.value.length}}/25</mat-hint>
                    </mat-form-field>
                    <mat-form-field color="primary" hintLabel="The text user will see before redeeming">
                        <mat-label>Prompt</mat-label>
                        <input type="text" #prompt matInput formControlName="prompt">
                        <mat-hint align="end">{{prompt.value.length}}/50</mat-hint>
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <mat-form-field hintLabel="Cost of the reward">
                        <mat-label>Cost</mat-label>
                        <input type="number" #cost matInput formControlName="cost">
                        <mat-hint align="end">{{cost.value}}/999999999</mat-hint>
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <mat-form-field hintLabel="Message that will appear on chat">
                        <mat-label>Message</mat-label>
                        <textarea #message matInput formControlName="message"></textarea>
                    </mat-form-field>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <mat-slide-toggle formControlName="skipQueue">Skip Queue</mat-slide-toggle>
                    </div>
                    @if(premium) {
                        <div class="form-group">
                            <mat-slide-toggle formControlName="priceIncrease">Price Increase</mat-slide-toggle>
                        </div>
                    }
                </div>
            </section>
            @if (priceIncrease?.value) {
                <section class="premium">
                    <div class="form-row">
                        <mat-form-field hintLabel="The amount of points it will increase with each redemption">
                            <mat-label>Price Increase Amount</mat-label>
                            <input type="number" matInput formControlName="priceIncreaseAmount">
                            @if (!priceIncreaseAmount?.valid) {
                                <mat-error>Number must be a positive number</mat-error>
                            }
                        </mat-form-field>
                        <mat-slide-toggle formControlName="returnToOriginalPrice">Return To Original Price</mat-slide-toggle>
                    </div>
                    @if (!disbaled) {
                        <div class="form-row">
                            <mat-form-field>
                                <mat-label>Duration</mat-label>
                                <input type="number" #duration matInput formControlName="duration">
                                <mat-hint>Keep at 0 for Permanent VIP</mat-hint>
                            </mat-form-field>
                        </div>
                    }
                </section>
            }
        </form>
    </div>
}

<!-- 
            <div class="form-group" *ngIf="!disbaled">
                <label class="form-label" for="duration">Duration</label>
                <input type="number" class="form-input" formControlName="duration"
                    [classList]="duration?.valid ? 'valid' : 'invalid'">
                <p class="help">Keep at 0 for Permanent VIP</p>
            </div>
        </section>
        <section class="premiumplus" *ngIf="premiumPlus">
        </section>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div> -->