<div class="container">
    <div class="row">
        <button (click)="closeForm()" class="closeBTN">X</button>
    </div>
    <div class="form">
        <form [formGroup]="uploadForm" (submit)="uploadFile()">
            <div class="row">
                <div class="form-group">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" name="name" id="name" formControlName="name" autocomplete="off">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="file" class="form-label">File</label>
                    <input type="file" name="file" id="file" formControlName="file" (change)="onSelectFile($event)">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </div>
        </form>
    </div>
    <div class="video-preview">
        <div class="video">
            <video src="{{previewURL}}"></video>
        </div>
    </div>

</div>