<nav>
    <div class="container">
        <div class="logo">
            <a routerLink="/dashboard">{{title}}</a>
        </div>
        <div class="menu" id="nav-menu">
            <span class="toolbar" id="nav-toolbar" (click)="navToggle()">=</span>
            <ul id="nav-list">
                <li><a [routerLink]="['/', username, 'dashboard']" routerLinkActive="active">Dashboard</a></li>
                <li><a [routerLink]="['/', username, 'manage']" routerLinkActive="active">Manage</a></li>
                <li><a routerLink="/logout" routerLinkActive="active">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>