<h3>Click one to go and edit</h3>
<div class="container">
    <div class="card" (click)="Triggers()">
        <div class="card-header">
            <h4 class="card-title">Triggers</h4>
        </div>
        <div class="card-body">
            <div class="img-container">
                <img src="assets/images/trigger.png" alt="Triggers" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="card" (click)="VIP()">
        <div class="card-header">
            <h4 class="card-title">VIP</h4>
        </div>
        <div class="card-body">
            <div class="img-container">
                <img src="assets/images/vip.png" alt="VIP" class="img-fluid">
            </div>
        </div>
    </div>
</div>