<nav id="side-navbar">
    <div class="container">
        <div class="top" id="top-toggle">
            <span class="side-toggle" (click)="toggleSize()"><</span>
        </div>
        <ul class="nav-menu">
            <li>
                <span class="icon"></span>
                <a [routerLink]="['/', username, 'dashboard']" routerLinkActive="active">Dashboard</a>
            </li>
            <li>
                <span class="icon"></span>
                <a [routerLink]="['/', username, 'commands']" routerLinkActive="active">Commands</a>
            </li>
        </ul>
    </div>
</nav>