<nav id="side-navbar">
    <div class="container">
        <div class="top" id="top-toggle">
            <span class="side-toggle" (click)="toggleSize()"><</span>
        </div>
        <ul class="nav-menu">
            <li (click)="routerLink('/dashboard')">
                <span class="icon"></span>
                <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
            </li>
            <li (click)="routerLink('commands')">
                <span class="icon"></span>
                <a routerLink="/commands" routerLinkActive="active">Commands</a>
            </li>
        </ul>
    </div>
</nav>