<nav id="side-navbar">
    <div class="container">
        <div class="top" id="top-toggle">
            <span class="side-toggle" (click)="toggleSize()"><</span>
        </div>
        <ul class="nav-menu">
            <li>
                <span class="icon">icon</span>
                <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
            </li>
            <li>
                <span class="icon">icon</span>
                <a routerLink="/channels" routerLinkActive="active">Channels</a>
            </li>
            <li>
                <span class="icon">icon</span>
                <a routerLink="/users" routerLinkActive="active">Users</a>
            </li>
            <li>
                <span class="icon">icon</span>
                <a routerLink="/roles" routerLinkActive="active">Roles</a>
            </li>
            <li>
                <span class="icon">icon</span>
                <a routerLink="/permissions" routerLinkActive="active">Permissions</a>
            </li>
            <li>
                <span class="icon">icon</span>
                <a routerLink="/commands" routerLinkActive="active">Commands</a>
            </li>
            <li>
                <span class="icon">icon</span>
                <a routerLink="/settings" routerLinkActive="active">Settings</a>
            </li>
        </ul>
    </div>
</nav>