<table mat-table [dataSource]="commands">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let command"> {{command.name}} </td>
    </ng-container>

    <ng-container matColumnDef="cmd">
        <th mat-header-cell *matHeaderCellDef> CMD </th>
        <td mat-cell *matCellDef="let command"> {{command.cmd}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let command"> {{command.description}} </td>
    </ng-container>

    <ng-container matColumnDef="enabled">
        <th mat-header-cell *matHeaderCellDef> Enabled </th>
        <td mat-cell *matCellDef="let command"> {{command.enabled}} </td>
    </ng-container>

    <ng-container matColumnDef="userlevelname">
        <th mat-header-cell *matHeaderCellDef> UserLevelName </th>
        <td mat-cell *matCellDef="let command"> {{command.userLevelName || 'everyone'}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let tableData; columns: tableColumns"></tr>
</table>
<!-- <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>CMD</th>
            <th>Description</th>
            <th>Enabled</th>
            <th>UserLevel</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let command of commands">
            <td>{{ command.name }}</td>
            <td>{{ command.cmd }}</td>
            <td>{{ command.description }}</td>
            <td>{{ command.enabled }}</td>
            <td>{{ command.userLevelName || 'everyone'}}</td>
        </tr>
    </tbody>
</table> -->