/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  background-color: #f4f4f4;
  color: #333;
}

/*? ALERT SYSTEM ?*/

#systemAlerts {
  position: fixed;
  top: 10px;
  right: 1vw;
  width: 40vw;
  min-width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#systemAlerts .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;

}

#systemAlerts .alert {
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  margin: 5px;
  text-align: left;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 99;
  transition: all 1s ease;
  animation: alertAnimation;
}

.alert-success {
  background-color: #64fa42;
  border: 2px solid #909090;
}

.alert-success:hover {
  background-color: #2df700;
  border: 2px solid #000;
}

.alert-danger {
  background-color: #ff6060;
  border: 2px solid #909090;
}

.alert-danger:hover {
  background-color: #ff4949;
  border: 2px solid #000;
}

.alert-info {
  background-color: #42a5fa;
  border: 2px solid #909090;
}

.alert-info:hover {
  background-color: #2d7cf7;
  border: 2px solid #000;
}

/*? BUTTONS ?*/

.btn {
  padding: 10px 20px;
  background-color: #42a5fa;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #2d7cf7;
}

.btn:active {
  transform: scale(0.95);
}

.btn:focus {
  outline: none;
}

.btn:disabled {
  background-color: #c2c2c2;
  color: #000;
  cursor: not-allowed;
}

.btn:disabled:hover {
  background-color: #616161;
  color: #000;
  cursor: not-allowed;
}

.btn:disabled:active {
  transform: scale(1);
}

.btn-success {
  background-color: #64fa42;
  color: #000;
}

.btn-success:hover {
  background-color: #2df700;
  color: #000;
}

.btn-error {
  background-color: #ff6060;
  color: #000;
}

.btn-error:hover {
  background-color: #ff4949;
  color: #000;
}

.btn-info {
  background-color: #42a5fa;
  color: #fff;
}

.btn-info:hover {
  background-color: #2d7cf7;
}

.btn-warning {
  background-color: #ff9f42;
  color: #000;
}

.btn-warning:hover {
  background-color: #ff7c2d;
}

.btn-danger {
  background-color: #ff4242;
  color: #000;
}

.btn-danger:hover {
  background-color: #ff2d2d;
}

.h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

.helper-text {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
}

.text-info {
  font-size: .6rem;
  font-weight: lighter;
  text-align: center;
}