<div class="container">
    <section class="section header">
        <h1>{{title}}</h1>
        <h2>DomDimaBot is a supercharge chat bot to make your stream more entertaining</h2>
        <p>It is a free bot that can be added to any Twitch channel</p>
        <p>for more information, please contact the developer at: <a href="mailto:carlosdaniel@carlosdaniel.info">Carlos D.</a>
        </p>
        <p>To start, just sign up!</p>
        <button (click)="login()" class="btn btn-info">Login with Twitch</button>
    </section>
</div>